/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*font-size: 62.5%;*/
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #f1f1f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}




/* MENU */
body{ font-size: 150%; }
.grid{
	background: #eee;
	padding: 4%;
	min-height: 97%;
	font-size: 1em;
}
.grid-sizer,.grid-item {
	width: 92%;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #fff;
	margin: 0 0 .5em 0;
	padding: .5em .5em 0 .5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.grid-gutter{ width: 4%; }
.grid-item--width2 { width: 92%; }
.grid-item img{
	width: 100%;
	height: auto !important;
	margin-bottom: .5em;
}
.grid-item h4{
	margin: 0px auto .5em;
	display: block;
	-webkit-transition: color 0.7s ease-in-out;
	-moz-transition: color 0.7s ease-in-out;
	-o-transition: color 0.7s ease-in-out;
	-ms-transition: color 0.7s ease-in-out;
	transition: color 0.7s ease-in-out;
}
.grid-item .details{
	position: absolute;
	bottom: -100%;
	background: rgba(255,255,255,.6);
	padding: .5em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	display: inline-block;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.grid-item:hover > .details,
.grid-item:focus > .details{
	/*top: 0;*/
	bottom: 0px;
}
.grid-item:hover > h4,
.grid-item:focus > h4{
	color: #fff;
}


/**
 * 16.1 Mobile Large 620px
 */
@media screen and (min-width: 38.75em) {
	body{ font-size: 150%; }
	/*h4{ color: red; }*/
	.grid-sizer,.grid-item { width: 44%; } 		/* 2 columns */
	.grid-item--width2 { width: 92%; }
}

/**
 * 16.2 Tablet Small 740px
 */
@media screen and (min-width: 46.25em) {
	body{ font-size: 150%; }
	/*h4{ color: blue; }*/
	.grid-sizer,.grid-item { width: 44%; } 		/* 2 columns */
	.grid-item--width2 { width: 92%; }
}

/**
 * 16.3 Tablet Large 880px
 */
@media screen and (min-width: 55em) {
	body{ font-size: 125%; }
	/*h4{ color: green; }*/
	.grid-sizer,.grid-item { width: 28%; } 		/* 3 columns */
	.grid-item--width2 { width: 60%; }
}

/**
 * 16.4 Desktop Small 955px
 */
@media screen and (min-width: 59.6875em) {
	body{ font-size: 125%; }
	/*h4{ color: yellow; }*/
	.grid{ padding: 3%; }
	.grid-sizer,.grid-item { width: 29%; margin-bottom: 1em; } 		/* 3 columns */
	.grid-item--width2 { width: 61%; }
	.grid-gutter{ width: 3%; }
}

/**
 * 16.5 Desktop Medium 1100px
 */
@media screen and (min-width: 68.75em) {
	body{ font-size: 100%; }
	/*h4{ color: purple; }*/
	.grid{ padding: 3%; }
	.grid-sizer,.grid-item { width: 22%; margin-bottom: 1em; } 		/* 4 columns */
	.grid-item--width2 { width: 46%; }
	.grid-gutter{ width: 2%; }
}

/**
 * 16.6 Desktop Large 1240px
 */
@media screen and (min-width: 77.5em) {
	body{ font-size: 100%; }
	/*h4{ color: #123456; }*/
	.grid{ padding: 3%; }
	.grid-sizer,.grid-item { width: 22%; margin-bottom: 1em; } 		/* 4 columns */
	.grid-item--width2 { width: 46%; }
	.grid-gutter{ width: 2%; }
}

/**
 * 16.7 Desktop X-Large 1403px
 */
@media screen and (min-width: 87.6875em) {
	body{ font-size: 100%; }
	/*h4{ color: gray; }*/
	.grid{ padding: 2%; }
	.grid-sizer,.grid-item { width: 18%; margin-bottom: 1em; } 		/* 5 columns */
	.grid-item--width2 { width: 37%; }
	.grid-gutter{ width: 1%; }
}

/**
 * 17.0 Print
 */
@media print {

}


