body, input, button{
	font-family: 'Play', sans-serif;
}
body{
	background: #222;
	background-image: url('../images/cf_trans_bg.png');
	background-repeat: repeat;
	color: #aaa;
}

/* header section */
header{
	position: fixed;
	z-index: 1000;
	top: 0;
	background: #222;
	border-bottom: 1px solid black;
	width: 100%;
	height: 4em;
	box-shadow: 0 -0.3em 2em #000;
}
.tab {
	position: absolute;
	left: 0.5em;
	top: -.1em;
	z-index: 1;
	display: inline-block;
	padding: 0.1em 0.9em 0.3em 0.6em;
	margin: 0 0.5em;
	font-size: 1.5em;
	border-radius: 0 0 0.3em 0.3em;
	transition: left 400ms, opacity 600ms, transform 600ms;
	transform: skew(35deg);
	background: #333;
	border: 1px solid #000;
	box-shadow: inset 0 0 1em #000;
	opacity: 0;
}
.tab.three{
	opacity: 1;
	padding: 0.1em 0.3em 0.3em 0.9em;
}
.tracked .one{
	transform: skew(-35deg);
	opacity: 1;
}
.tracked .one span {
	transform: skew(35deg);
}
.tracked .two, .tracked .three {
	left: 9.3em;
	opacity: .6;
	padding: 0.1em 0.3em 0.3em 0.9em;
}
.tracked .tab.three {
	left: 16.8em;
	/*opacity: 1;*/
}
.tab span {
	display: inline-block;
	line-height: 0.7em;
	transform: skew(-35deg);
	transition: transform 600ms;
}
.tab span small{
	font-size: .5em;
}

.options{
	position: absolute;
	left: 14em;
	transition: left 400ms;
	padding: 0.5em;
}
.tracked .options{
	left: 38em;
}

select {
   background: #333;
   color: #aaa;
   padding: 0.5em;
   line-height: 1em;
   border: 1px solid black;
   border-radius: 0.5em;
}
input:focus, select:focus {
	outline:none;
}

/* main section */
section{
	margin-top: 4.5em;
}
.clear{ clear: both; }
.timer{
	float: left;
	margin: 1em .8em 1em 1em;
	padding: .8em;
	background: rgb(20,20,20);
	background: rgba(0,0,0,.4);
	color: #ccc;
	width: 14em;
	height: 14em;
	border-radius: 50%;
}
.timer.true{
	box-shadow:0 0 2em rgba(245,245,245,0.5);
}
.timer.tracked {
	opacity: 0.6;
	background: #333;
}
.timer input{
	padding: .1em .5em;
	margin: .4em auto;
	position: absolute;
	z-index: 1;
	display: block;
	font-size: 1em;
	text-align: left;
	background: #222;
	border: none;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #eee;
	width: 7em;
	left: 2.6em;
}
input.task{
	top: 4.3em;
	width: 8em;
	left: 2em;
}
input.digital{
	font-size: 1.3em;
	width: 6em;
	left: 1.5em;
	top: 4.8em;
	text-align: center;
}
.date {
	position: absolute;
	left: 3.4em;
	top: 10.4em;
	font-weight: bold;
	text-align: right;
	width: 4em;
}
.hours {
	position: absolute;
	left: 3.5em;
	top: 9.2em;
	font-weight: bold;
	text-align: right;
}
.close {
	position: absolute;
	z-index: 2;
	left: 8em;
	top: 0;
	width: 2em;
	height: 1em;
	background: #222;
	border: 1px solid #222;
	border-radius: 0.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	padding: 0.2em;
	cursor: pointer;
}
.close:before {
	content: '';
	line-height: 0;
	font-size: 1em;
	width: 0.2em;
	height: 1em;
	border-top: 2.4em solid #222;
	border-left: 1em solid transparent;
	position: absolute;
	bottom: -1em;
	left: -0.9em;
}
.close:after {
	content: '';
	line-height: 0;
	font-size: 1em;
	width: 0.2em;
	height: 1em;
	border-top: 2.4em solid #222;
	border-right: 1em solid transparent;
	position: absolute;
	bottom: -1em;
	right: -0.9em;
}
.close:hover {
	z-index: 100;
}
.close.confirm {
	width: 5em;
	left: 6.6em;
	height: 1.8em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	top: 0;
}
.close-label{
	position: absolute;
	z-index: 2;
	left: 6.85em;
	top: 1.5em;
	font-size: 0.8em;
	font-weight: bold;
	z-index: 1;
}
.top-input {
	width: 112px;
	height: 20px;
	background-image: url('../images/top_input_bg.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 3em;
	top: 2.4em;
}
.colorpick {
	box-sizing: border-box;
	position: absolute;
	z-index: 5;
	display: block;
	left: 1em;
	top: 0.2em;
	width: 0.8em;
	height: 0.8em;
	border: 1px solid #555555;
	border-radius: 0.2em;
	cursor: pointer;
}
.color-label {
	position: absolute;
	z-index: 1;
	top: 1.9em;
	left: 0.6em;
	font-size: 0.7em;
	font-weight: bold;
	color: #222;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 0.15em solid transparent;
	border-right: .15em solid transparent;
	border-top: 0.35em solid #aaaaaa;
	position: absolute;
	bottom: 0;
	right: -0.5em;
}
small{
	font-size: .8em;
}
.start{
	cursor: pointer;
	display: block;
	width: 3em;
	padding: 1.2em 0.8em;
	text-align: left;
	margin: .4em auto;
	border: 1px solid #555;
	position: absolute;
	z-index: 1;
	bottom: -0.4em;
	right: 0.4em;
	height: 1.5em;
	border: 1px solid black;
	border-radius: .5em;
	background: #222;
}
.dial-bg{
	position: absolute;
	top: 0.45em;
	left: 0.45em;
	z-index: 1;
	width: 13em;
	height: 13em;
	border-radius: 50%;
	background-color: yellow;
	background-image: url('../images/dial_trans_bg.png');
	background-repeat: repeat;
	box-sizing: border-box;
	overflow: hidden;
}
.hour-numbers{
	color: rgb(235,235,250);
	color: rgba(235,235,250, .9);
	color: #111;
}

.add{
	position: absolute;
	cursor: pointer;
	font-size: 1.8em;
	width: 0.9em;
	height: 1em;
	border: 2px solid #555;
	color: #999;
	border-radius: 50%;
	background: #000;
	text-align: center;
	margin: 0 0.5em;
	padding: 0 0.1em 0.1em 0.1em;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* checkbox */
input[type="checkbox"] + label {
	position: absolute;
	z-index: 2;
	width: 0.8em;
	height: 0.8em;
	border: 0.2em solid #CCCCCC;
	border-radius: .2em;
	cursor: pointer;
	top: 4.3em;
	left: 12.2em;
	transition: all ease-out 200ms;
	text-indent: -0.8em;
	line-height: 4em;
	color: #222222;
	font-size: 0.7em;
	font-weight: bold;
}
input[type="checkbox"] + label:active {
	user-select: none;
}
input[type="checkbox"] + label:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0.5em;
	border-bottom: 0.2em solid #777777;
	border-left: 0.2em solid #777777;
	top: 0;
	left: 0.4em;
	transform-origin: bottom left;
	transform: rotate(-45deg);
	opacity: 0;
	transition: all ease-out 200ms;
}
input[type="checkbox"]:checked + label {
	border: 0.2em solid #777777;
}
input[type="checkbox"]:checked + label:after {
	opacity: 1;
	width: 1.2em;
}
input[type="checkbox"] {
	display: none;
}
/* end checkbox */


/* drag and drop */
li.timer {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	position: relative;
}
li.droptarget {
	border: 3px dotted rgb(120,120,120);
	background: rgba(76,76,76,.5);
	background-image: none !important;
	color: transparent;
	position: relative;
	z-index: 100;
}
li.droptarget input, li.droptarget span, li.droptarget div, li.droptarget ul, li.droptarget li{
	display: none;
	z-index: 0;
	position: absolute;
}
/* end drag and drop */
