body, input, button{
	font-family: 'Play', sans-serif;
}
body{
	background: #222;
	background-image: url('../images/cf_trans_bg.png');
	background-repeat: repeat;
	color: #aaa;
}
.timer{
	float: left;
	margin: 1em;
	padding: .8em;
	background: rgb(20,20,20);
	background: rgba(0,0,0,.4);
	color: #ccc;
	width: 14em;
	height: 14em;
	border-radius: 50%;
}
.timer input{
	padding: .1em .5em;
	margin: .4em auto;
	position: absolute;
	z-index: 1;
	display: block;
	font-size: 1em;
	text-align: left;
	background: #222;
	border: none;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #eee;
	width: 7em;
	left: 2.6em;
}
input.task{
	top: 4em;
	width: 8em;
	left: 2em;
}
input.digital{
	font-size: 1.3em;
	width: 6em;
	left: 1.5em;
	top: 4.8em;
	text-align: center;
}
.date {
	position: absolute;
	left: 3.4em;
	top: 10.4em;
	font-weight: bold;
	text-align: right;
	width: 4em;
}
.hours {
	position: absolute;
	left: 3.5em;
	top: 9.2em;
	font-weight: bold;
	text-align: right;
}
.top-input {
	width: 112px;
	height: 20px;
	background-image: url('../images/top_input_bg.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 3em;
	top: 2.5em;
}
.colorpick {
	box-sizing: border-box;
	position: absolute;
	z-index: 5;
	display: block;
	left: 1em;
	top: 0.2em;
	width: 0.8em;
	height: 0.8em;
	border: 1px solid #555555;
	border-radius: 0.2em;
	cursor: pointer;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 0.15em solid transparent;
	border-right: .15em solid transparent;
	border-top: 0.35em solid #aaaaaa;
	position: absolute;
	bottom: 0;
	right: -0.5em;
}
small{
	font-size: .8em;
}
.start{
	cursor: pointer;
	display: block;
	width: 3em;
	padding: 1.2em 0.8em;
	text-align: left;
	margin: .4em auto;
	border: 1px solid #555;
	position: absolute;
	z-index: 1;
	bottom: -0.4em;
	right: 0.4em;
	height: 1.5em;
	border: 1px solid black;
	border-radius: .5em;
	background: #222;
}
.dial-bg{
	position: absolute;
	top: 0.45em;
	left: 0.45em;
	z-index: 1;
	width: 13em;
	height: 13em;
	border-radius: 50%;
	background-color: yellow;
	background-image: url('../images/dial_trans_bg.png');
	background-repeat: repeat;
	box-sizing: border-box;
	overflow: hidden;
}
.hour-numbers{
	color: rgb(235,235,250);
	color: rgba(235,235,250, .9);
	color: #111;
}

.add{
	position: absolute;
	cursor: pointer;
	font-size: 1.8em;
	width: 1em;
	height: 1em;
	border: 1px solid #555;
	border-radius: 50%;
	background: #000;
	text-align: center;
	margin: 0 .5em;
	padding: .1em;
}

/* drag and drop */
li.timer {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	position: relative;
}
li.droptarget {
	border: 3px dotted rgba(120,120,120,1);
	background: rgba(76,76,76,.5);
	background-image: none !important;
	color: transparent;
	position: relative;
	z-index: 100;
}
li.droptarget input, li.droptarget span, li.droptarget div, li.droptarget ul, li.droptarget li{
	display: none;
	z-index: 0;
	position: absolute;
}
/* end drag and drop */
