.pin{
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 50%;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-left: -3px;
	margin-top: -3px;
	background: #555;
	box-shadow: inset 0 0 1px #999;
	border: 1px solid #eee;
}

.hour-hand {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 50%;
	width: 5px;
	height: 16px;
	margin-left: -2px;
	margin-bottom: -2px;
	background: rgb(220, 230, 255);
	/*background: rgba(240, 240, 255, .7);*/
	/*box-shadow: .1em .1em .5em #444;*/
	border: 1px solid #990000;
	-moz-border-radius: 4px / 20px;
	border-radius: 4px 4px 0 0 / 20px 20px 0 0;
	-webkit-transform-origin: center 15px;
	-moz-transform-origin: center 15px;
	-o-transform-origin: center 15px;
	-ms-transform-origin: center 15px;
	transform-origin: center 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.minute-hand {
	position: absolute;
	z-index: 2;
	left: 50%;
	bottom: 50%;
	width: 5px;
	height: 22px;
	margin-left: -2px;
	margin-bottom: -2px;
	background: rgb(220, 230, 255);
	-moz-border-radius: 4px / 20px;
	border-radius: 4px 4px 0 0 / 20px 20px 0 0;
	border: 1px solid #990000;
	-webkit-transform-origin: center 21px;
	-moz-transform-origin: center 21px;
	-o-transform-origin: center 21px;
	-ms-transform-origin: center 21px;
	transform-origin: center 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.second-hand {
	position: absolute;
	z-index: 4;
	left: 50%;
	bottom: 50%;
	width: 3px;
	height: 22px;
	margin-left: -1px;
	margin-bottom: -1px;
	background: #990000;
	-moz-border-radius: 1px;
	border-radius: 5px 5px / 50px 50px;
	font-size: 1px;
	line-height: 0;
	color: #990000;
	text-indent: -65px;
	-webkit-transform-origin: center 22px;
	-moz-transform-origin: center 22px;
	-o-transform-origin: center 22px;
	-ms-transform-origin: center 22px;
	transform-origin: center 22px;
	-webkit-box-shadow: 0 0 10px #ccc;
	/*box-shadow: 0 0 .5em #ccc;*/
}

.hour-numbers {
	position: absolute;
	top: 0;
	left: 1px;
	z-index: 0;
	width: 100%;
	height: 100%;
	font-family: 'Play',monospace;
	font-size: 1.2em;
	font-weight: bold;
	display: none;
}
.hour-numbers li {
	position: absolute;
	left: 50%;
	bottom: 50%;
	width: 2em;
	height: 5.3em;
	margin-left: -1em;
	text-align: center;
	border: none;
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-o-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}
.hour-numbers span {
	display: block;
	padding: 0;
	border: none;
	text-shadow: -1px 0 rgb(224, 240, 255), 0 1px rgb(224, 240, 255), 1px 0 rgb(224, 240, 255), 0 -1px rgb(224, 240, 255), 0px 0px 4px rgba(0,0,0,0.4), 0 -5px 35px rgba(255,255,255,0.3);
}
.hour-numbers li:nth-child(1) {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.hour-numbers li:nth-child(1) span {
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(2) {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.hour-numbers li:nth-child(2) span {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(3) {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.hour-numbers li:nth-child(3) span {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.hour-numbers li:nth-child(4) {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.hour-numbers li:nth-child(4) span {
	-webkit-transform: rotate(-120deg);
	-moz-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	transform: rotate(-120deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(5) {
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.hour-numbers li:nth-child(5) span {
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
	-o-transform: rotate(-150deg);
	-ms-transform: rotate(-150deg);
	transform: rotate(-150deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(6) {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.hour-numbers li:nth-child(6) span {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(7) {
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
	-o-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.hour-numbers li:nth-child(7) span {
	-webkit-transform: rotate(-210deg);
	-moz-transform: rotate(-210deg);
	-o-transform: rotate(-210deg);
	-ms-transform: rotate(-210deg);
	transform: rotate(-210deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(8) {
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.hour-numbers li:nth-child(8) span {
	-webkit-transform: rotate(-240deg);
	-moz-transform: rotate(-240deg);
	-o-transform: rotate(-240deg);
	-ms-transform: rotate(-240deg);
	transform: rotate(-240deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(9) {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.hour-numbers li:nth-child(9) span {
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
	-o-transform: rotate(-270deg);
	-ms-transform: rotate(-270deg);
	transform: rotate(-270deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(10) {
	-webkit-transform: rotate(300deg);
	-moz-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}
.hour-numbers li:nth-child(10) span {
	-webkit-transform: rotate(-300deg);
	-moz-transform: rotate(-300deg);
	-o-transform: rotate(-300deg);
	-ms-transform: rotate(-300deg);
	transform: rotate(-300deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(11) {
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}
.hour-numbers li:nth-child(11) span {
	-webkit-transform: rotate(-330deg);
	-moz-transform: rotate(-330deg);
	-o-transform: rotate(-330deg);
	-ms-transform: rotate(-330deg);
	transform: rotate(-330deg);
	text-indent: 0;
}
.hour-numbers li:nth-child(12) {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.hour-numbers li:nth-child(12) span { text-indent: 0; }

.minute-lines {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	color: rgb(180, 180, 200);
	color: rgba(180, 180, 200, .9);
	color: #E0F0FF;
}
.minute-lines li {
	position: absolute;
	z-index: 0;
	left: 21px;
	top: -1px;
	width: 1px;
	height: 4px;
	background: #E0F0FF;
	border: 1px solid #222;
	-webkit-transform-origin: 1px 23px;
	-moz-transform-origin: 1px 23px;
	-o-transform-origin: 1px 23px;
	-ms-transform-origin: 1px 23px;
	transform-origin: 1px 23px;
}
.minute-lines li:nth-child(1){
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.minute-lines li:nth-child(2){
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.minute-lines li:nth-child(3){
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.minute-lines li:nth-child(4){
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.minute-lines li:nth-child(5){
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.minute-lines li:nth-child(6){
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.minute-lines li:nth-child(7){
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.minute-lines li:nth-child(8){
	-webkit-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
	-o-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.minute-lines li:nth-child(9){
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.minute-lines li:nth-child(10){
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.minute-lines li:nth-child(11){
	-webkit-transform: rotate(300deg);
	-moz-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}
.minute-lines li:nth-child(12){
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}

