body, input, button{
	font-family: 'Ubuntu Mono', sans-serif;
}
.btn{
	font-size: 15px;
}
.drop{
	font-size: 12px;
}
.add span{
	line-height: 26px;
}
body{
	background: #ccc;
}
.tracked, .close-label, .color-label, .date, .hours, .details, label, .more, .close{
	color: #222;
	text-shadow: none;
}
.timer{
	background: #eee;
	border: 1px solid #999;
}
.timer.true{
	box-shadow: 0 0 10px rgba(0,10,20,0.5);
}
.timer.tracked{
	background: #bbb;
}
.timer input{
	background: #fff;
	color: #222;
	border-color: #999;
}
input.digital{
	background-color: #eee;
}
.dial{
	background-color: #333 !important;
}