body, input, button{
	font-family: 'Play', sans-serif;
}
body{
	background: #222;
	background-image: url('../images/cf_trans_bg.png');
	background-repeat: repeat;
	color: #AAB2B8;
}

/* header section */
header{
	position: fixed;
	z-index: 200;
	top: 0;
	background: #222;
	border-bottom: 1px solid black;
	width: 100%;
	height: 3.5em;
	box-shadow: 0 -0.3em 2em #000;
}
.tab{
	display: inline-block;
	position: absolute;
	width: 7.6em;
	height: 2.1em;
	font-size: 1.5em;
	overflow: hidden;
	margin: 0;
	opacity: 0;
	padding: 0 1.8em 0.2em 1.8em;
}
.tab::before{
	content: '';
	position: absolute;
	width: 7.2em;
	height: 5em;
	top: -1.5em;
	left: 0.8em;
	border-radius: 10em;
	border: 0.2em solid #E0F0FF;
	background: #333;
	z-index: -1;
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0.5em 0 0.5em #000,
		-0.5em 0 0.5em #000;
}

.tab.one, .tracked .two{
	opacity: 1;
}
.tracked .one{
	opacity: 0;
}
.tracked .three {
	left: 9em;
	opacity: .6;
	text-align: right;
	vertical-align: middle;
	line-height: 1em;
	padding-top: .2em;
	padding-bottom: 0em;
}
.tab.three::before{
	width: 9.3em;
	height: 6em;
	top: -2em;
}
.tab small{
	font-size: .5em;
	vertical-align: middle;
	line-height: 0.5em;
}

.options{
	position: absolute;
	left: 13em;
	/*transition: left 0.6s;*/
	padding: 0.5em;
	min-width: 22em;
}
.tracked .options{
	left: 29.8em;
}

select {
   background: #333;
   color: #AAB7C0;
   padding: 0.5em;
   line-height: 1em;
   border: 1px solid black;
   border-radius: 0.5em;
}
input:focus, select:focus {
	outline:none;
}

.btn{
	display: inline-block;
	position: relative;
	width: 7.6em;
	height: 3em;
	/* background: #777; */
	text-align: center;
	border-radius: 0;
	font-size: 0.8em;
	line-height: 2.8em;
	overflow: hidden;
	margin: 0em 0em;
	cursor: pointer;
}
.btn::before{
	content: '';
	width: 6em;
	height: 6em;
	position: absolute;
	top: -1.6em;
	left: 0.7em;
	border-radius: 10em;
	border: 0.2em solid #E0F0FF;
	background: #333;
	z-index: -1;
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0.5em 0 0.5em #000,
		-0.5em 0 0.5em #000;
}
.btn:hover::before{
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0 0 1em #CCEEFF;
}
.btn:hover{
	color: #E0F0FF;
}
.btn::after{
	content: '';
	width: 5.1em;
	height: 2.8em;
	position: absolute;
	top: 0;
	left: 1.1em;
	border: 1px solid #000;
	border-width: 1px 0;
}
.drop{
	display: block;
	position: absolute;
	top: 2.8em;
	background: #222;
	height: 0;
	border-radius: 0 0.5em 0.5em 0.5em;
	overflow: hidden;
	-o-transition: height .6s ease, padding .6s ease;
	-moz-transition: height .6s ease, padding .6s ease;
	-webkit-transition: height .6s ease, padding .6s ease;
	transition: height .6s ease, padding .6s ease;
	box-shadow: inset 0 0 .2em #000,
		0 0.1em 0.1em rgba(224,240,255,0.3),
		-0.2em 0.2em 0.3em rgba(224,240,255,0.3),
		0.2em 0.2em 0.3em rgba(224,240,255,0.4)
}
.drop.on{
	height: 20em;
	padding: .2em;
}
.drop div{
	padding: .2em .5em;
	line-height: 1.5em;
	cursor: pointer;
}
.drop div:hover{
	background: #333;
	color: #E0F0FF;
}
.drop .sel{
	text-decoration: underline;
}

/* login section */
.overlay{
	display: block;
	position: fixed;
	top: 0;
	z-index: 300;
	width: 100%;
	height: 100%;
	background-color: rgba(20,20,20,.7);
}
.loading{
	display: none;
	position: fixed;
	z-index: 500;
	width: 100px;
	height: 100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.login{
	display: block;
	background: #222;
	border: 1px solid black;
	border-width: 1px 0;
	box-shadow: 0 -0.3em 2em #000;
	color: #ccc;
	padding: 1em;
	box-shadow:inset 0 0 4em #000;
	overflow: hidden;
	/* center vertically */
	position: fixed;
	height: 7em;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 400;
}
#register-form{
	display: none;
}
#login-form, #register-form{
	position: fixed;
	font-size: 1.3em;
	height: 7.2em;
	width: 12em;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 400;
}
#register-form{
	top: -1.5em;
}
.login .timer{
	float: none;
	position: absolute;
	left: 50%;
	top: -1.5em;
	margin: auto;
	margin-left: -4.5em;
	font-size: 1.5em;
	border-width: 2em;
	background: none;
}
.login .dial{
	border-width: 0.4em;
}
.login .timer, .login .dial, .login .dial-bg {
	width: 16em;
	height: 16em;
}
.login .dial-bg {
	width: 15.1em;
	height: 15.1em;
}
.login .timer input{
	position: static;
}
.login input[type="submit"]{
	position: relative;
	left: 1.5em;
	background: #555;
	text-align: center;
	width: 5em;
	box-shadow:inset 0 0 1em #000;
	cursor: pointer;
	margin-bottom: 0.2em;
}
.login .message{
	display: block;
	text-align: center;
	font-size: .8em;
	color: #f00;
}
.login .link{
	cursor: pointer;
	font-size: .7em;
	text-decoration: underline;
	color: #999;
	text-align: right;
	display: block;
	width: 11.3em;
	margin: 0 auto;
}

/* main section */
section{
	margin-top: 4.5em;
}
.clear{ clear: both; }
.timer{
	width: 70%;
	min-width: 400px;
	max-width: 1200px;
	min-height: 4em;
	background: rgb(20,20,20);
	background: rgba(0,0,0,.4);
	color: #ccc;
	border-radius: 4px;
	margin: .5em auto;
}
.timer.true{
	box-shadow:0 0 2em rgba(224,240,255,0.5);
}
.timer.tracked {
	opacity: 0.6;
	background: #333;
}
.timer input{
	padding: .1em .5em;
	margin: .4em auto;
	display: block;
	font-size: 1em;
	text-align: left;
	background: #222;
	border: none;
	border: 1px solid black;
	border-radius: 0.2em;
	color: #E0F0FF;
}

/* Timer Flex Layout */
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}
.dial{
	order: 1;
}
.start{
	order: 2;
}
.task{
	order: 3;
	flex-grow: 1;
}
.tracked{
	order: 4;
}
.date{
	order: 5;
	font-weight: bold;
	text-align: center;
	width: 4em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.hours{
	order: 6;
	font-weight: bold;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
input.digital{
	order: 7;
	font-size: 20px;
	width: 120px;
	text-align: center;
}
.details{
	order: 99;
}

label{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.close {
	position: absolute;
	right: 0.5em;
	width: 1em;
	height: 1em;
	background: #222;
	border: 1px solid #222;
	border-radius: 1em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	padding: 0.2em;
	cursor: pointer;
}
.close.confirm {
	width: 5em;
	height: 1.8em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.close-label{
	z-index: 2;
	left: 6.85em;
	top: 1.5em;
	font-size: 0.8em;
	font-weight: bold;
	z-index: 1;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.tracked, .close-label, .color-label, .date, .hours{
	color: #AAB7C0;
}
.top-input {
	width: 112px;
	height: 20px;
	background-image: url('../images/top_input_bg.png');
	background-repeat: no-repeat;
	/* position: absolute; */
	left: 3em;
	top: 2.4em;
}
/*
.colorpick {
	box-sizing: border-box;
	position: absolute;
	z-index: 5;
	display: block;
	left: 1em;
	top: 0.2em;
	width: 0.8em;
	height: 0.8em;
	border: 1px solid #555555;
	border-radius: 0.2em;
	cursor: pointer;
}
.color-label {
	position: absolute;
	z-index: 1;
	top: 1.9em;
	left: 0.6em;
	font-size: 0.7em;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.arrow {
	width: 0;
	height: 0;
	border-left: 0.15em solid transparent;
	border-right: .15em solid transparent;
	border-top: 0.35em solid #AAB7C0;
	position: absolute;
	bottom: 0;
	right: -0.5em;
}
 */
small{
	font-size: .8em;
}
.start, .start::after{
	cursor: pointer;
	display: block;
	width: 0;
	height: 0;
	border-top:  11px solid transparent;
	border-left: 20px solid #444444;
	border-bottom: 11px solid transparent;
	transition: border 0.4s ease;
}
.start::after{
	content: '';
	border-top: 9px solid transparent;
	border-left: 18px solid #222222;
	border-bottom: 9px solid transparent;
	margin-left: -19px;
	margin-top: -9px;
}
.start:hover{
	border-left-color: #777777;
}
.true .start, .true .start::after{
	border: 10px solid #444444;
	/* border-width: 11px; */
	/* border-color: #444444; */
}
.true .start::after{
	border: 8px solid #222222;
	/* border-width: 10px; */
	/* border-color: #222222; */
	margin-left: -8px;
	margin-top: -8px;
}

.add{
	position: absolute;
	cursor: pointer;
	font-size: 1.8em;
	width: 0.9em;
	height: 1em;
	border: 2px solid #AAB2B8;
	border-radius: 50%;
	background: #000;
	text-align: center;
	margin: 0 0.5em;
	padding: 0 0.1em 0.1em 0.1em;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.add:hover{
	box-shadow: 0 0 0.5em #CCEEFF;
	color: #CCEEFF;
}

/* checkbox */
li input[type="checkbox"] + label {
	float: left;
	margin: 1.8em;
	z-index: 2;
	width: 0.8em;
	height: 0.8em;
	border: 0.2em solid #CCCCCC;
	border-radius: .2em;
	cursor: pointer;
	transition: all ease-out 200ms;
	text-indent: -1.4em;
	line-height: 4em;
	font-size: 0.7em;
	font-weight: bold;
}
li input[type="checkbox"] + label:active {
	user-select: none;
}
li input[type="checkbox"] + label:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0.5em;
	border-bottom: 0.2em solid #777777;
	border-left: 0.2em solid #777777;
	margin-top: -3.8em;
	margin-left: 0.5em;
	transform-origin: bottom left;
	transform: rotate(-45deg);
	opacity: 0;
	transition: all ease-out 200ms;
}
li input[type="checkbox"]:checked + label {
	border: 0.2em solid #777777;
}
li input[type="checkbox"]:checked + label:after {
	opacity: 1;
	width: 1.2em;
}
li input[type="checkbox"] {
	display: none;
}
/* end checkbox */


/* drag and drop */
li.timer {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	position: relative;
}
li.droptarget {
	border: 3px dotted rgb(120,120,120);
	background: rgba(76,76,76,.5);
	background-image: none !important;
	color: transparent;
	position: relative;
	z-index: 100;
}
li.droptarget input, li.droptarget span, li.droptarget div, li.droptarget ul, li.droptarget li{
	display: none;
	z-index: 0;
	position: absolute;
}
/* end drag and drop */

/* toggle switches */
/*.toggle {
  display: block;
  margin: 1em;
  width: 2.5em;
  height: 1em;
  border-radius: 2em;
  position:relative;
  cursor:pointer;
  background:linear-gradient(to bottom, #9c9c9c, #f9f9f9);
}
.toggle input[type="checkbox"] { display:none }
.toggle:before, .toggle:after, .toggle .switch:after, .switch .brushed-metal:before, .switch .brushed-metal:after {
  content:'';
  display:block;
  position:absolute;
  z-index:1;
}
.toggle:before {
  width: 2.4em;
  height: 0.9em;
  top: 0.1em;
  left: 0.1em;
  border-radius: 2em;
  background:linear-gradient(to bottom, #7b7b7b, #ececec);
}
.toggle:after {
  width: 2.3em;
  height: 0.8em;
  top: 0.1em;
  left: 0.1em;
  border-radius: 2em;
  background-color:#3b3b3d;
  box-shadow:inset rgba(0,0,0,.7) 0 6px 12px;
  -webkit-transition:background-color .3s linear;
     -moz-transition:background-color .3s linear;
          transition:background-color .3s linear;
}
.toggle.checked:after { background-color:#00FF00 }
.toggle .switch {
  diplay:block;
  width: 0.3em;
  height: 0.3em;
  border-radius:50%;
  position:absolute;
  top: .3em;  left: .3em;  z-index:9;
  background:linear-gradient(to bottom, #ddd, #636363);
  -webkit-transition:left .2s linear;
     -moz-transition:left .2s linear;
          transition:left .2s linear;
}
.toggle.checked .switch { left: 1.75em; }
.toggle .switch:after {
  width: 0.2em;
  height: 0.2em;
  top: 0.15em;
  left: 0.11em;
  border-radius:50%;
  background:#3b3b3d;
  box-shadow:inset rgba(0,0,0,.6) 0 3px 6px;
  z-index:8;
}
.switch .brushed-metal {
  display:block;
  width: 0.65em;
  height: 0.6em;
  position:absolute;
  top: -0.1em;
  left: -0.1em;
  border-radius:50%;
  z-index:4;
  background-color:#a9a9a9;
  background-image:
    -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),

    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}
.switch .brushed-metal:before, .switch .brushed-metal:after {
  top:0; left:0;
  width:inherit;
  height:inherit;
  border-radius:inherit;

  /* fake conical gradients *
  background-image:
    -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
}
.switch .brushed-metal:before { transform:rotate(65deg) }
.switch .brushed-metal:after { transform:rotate(-65deg) }
*/

/* ============================================================
	COMMON
============================================================ */
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
span.switch {
  float: left;
  padding: 0.2em 0.4em 0 0;
}
/* ============================================================
	SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
	padding: 0.1em;
	width: 1.8em;
	height: 0.8em;
	background-color: #aaaaaa;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}
input.cmn-toggle-round-flat + label:before {
	top: 0.1em;
	left: 0.1em;
	bottom: 0.1em;
	right: 0.1em;
	background-color: #000;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
	top: 0em;
	left: 0em;
	bottom: 0em;
	width: 0.8em;
	background-color: #aaaaaa;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-transition: margin 0.4s, background 0.4s;
	-moz-transition: margin 0.4s, background 0.4s;
	-o-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
	background-color: #dddddd;
}
input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 1.1em;
	background-color: #dddddd;
}
input.cmn-toggle-round-flat:checked + label {
	box-shadow: 0 0 0.5em #CCEEFF;
}


.hidden{
	display: none;
}

.summary, .users{
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	font-size: 1em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 0.9em;
	height: 0.2em;
	border: 2px solid #AAB2B8;
	border-radius: 0.5em 0 0 0;
	background: #000;
	text-align: center;
	margin: 0;
	padding: 0 0.5em 0.5em 0.5em;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	opacity: .6;
	z-index: 10;
	-webkit-transition: width 0.4s, height 0.4s;
	-moz-transition: width 0.4s, height 0.4s;
	-o-transition: width 0.4s, height 0.4s;
	transition: width 0.4s, height 0.4s;
}
.summary:hover, .users:hover{
	box-shadow: 0 0 0.5em #CCEEFF;
	color: #CCEEFF;
}
.summary.on, .users.on{
	width: 12em;
	height: 10em;
	/*font-size: 0.9em;*/
	/*padding: 0 .5em .5em .5em;*/
	/*border-radius: 1em 0 0 0;*/
	opacity: 1;
	overflow-y: auto;
}
.summary div{
	text-align: right;
}
.users{
	left: 0;
	right: inherit;
}
.users.on{
	width: 35em;
	height: 20em;
	font-size: 0.8em;
	line-height: 1.2em;
}
.users td{
	text-align: left;
	padding: 0 0.5em;
}
