body, input, button{
	font-family: 'Play', sans-serif;
}
body{
	background: #222;
	background-image: url('../images/cf_trans_bg.png');
	background-repeat: repeat;
	color: #AAB2B8;
}

/* header section */
header{
	position: fixed;
	z-index: 200;
	top: 0;
	background: #222;
	border-bottom: 1px solid black;
	width: 100%;
	height: 3.5em;
	box-shadow: 0 -0.3em 2em #000;
}
.tab{
	display: inline-block;
	position: absolute;
	width: 7.6em;
	height: 2.1em;
	font-size: 1.5em;
	overflow: hidden;
	margin: 0;
	opacity: 0;
	padding: 0 1.8em 0.2em 1.8em;
}
.tab::before{
	content: '';
	position: absolute;
	width: 7.2em;
	height: 5em;
	top: -1.5em;
	left: 0.8em;
	border-radius: 10em;
	border: 0.2em solid #E0F0FF;
	background: #333;
	z-index: -1;
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0.5em 0 0.5em #000,
		-0.5em 0 0.5em #000;
}

.tab.one, .tracked .two{
	opacity: 1;
}
.tracked .one{
	opacity: 0;
}
.tracked .three {
	left: 9em;
	opacity: .6;
	text-align: right;
	vertical-align: middle;
	line-height: 1em;
	padding-top: .2em;
	padding-bottom: 0em;
}
.tab.three::before{
	width: 9.3em;
	height: 6em;
	top: -2em;
}
.tab small{
	font-size: .5em;
	vertical-align: middle;
	line-height: 0.5em;
}

.options{
	position: absolute;
	left: 13em;
	/*transition: left 0.6s;*/
	padding: 0.5em;
	min-width: 22em;
}
.tracked .options{
	left: 29.8em;
}

select {
   background: #333;
   color: #AAB7C0;
   padding: 0.5em;
   line-height: 1em;
   border: 1px solid black;
   border-radius: 0.5em;
}
input:focus, select:focus {
	outline:none;
}

.btn{
	display: inline-block;
	position: relative;
	width: 7.6em;
	height: 3em;
	/* background: #777; */
	text-align: center;
	border-radius: 0;
	font-size: 0.8em;
	line-height: 2.8em;
	overflow: hidden;
	margin: 0em 0em;
	cursor: pointer;
}
.btn::before{
	content: '';
	width: 6em;
	height: 6em;
	position: absolute;
	top: -1.6em;
	left: 0.7em;
	border-radius: 10em;
	border: 0.2em solid #E0F0FF;
	background: #333;
	z-index: -1;
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0.5em 0 0.5em #000,
		-0.5em 0 0.5em #000;
}
.btn:hover::before{
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0 0 1em #CCEEFF;
}
.btn:hover{
	color: #E0F0FF;
}
.btn::after{
	content: '';
	width: 5.1em;
	height: 2.8em;
	position: absolute;
	top: 0;
	left: 1.1em;
	border: 1px solid #000;
	border-width: 1px 0;
}
.drop{
	display: block;
	position: absolute;
	top: 2.8em;
	background: #222;
	height: 0;
	border-radius: 0 0.5em 0.5em 0.5em;
	overflow: hidden;
	-o-transition: height .6s ease, padding .6s ease;
	-moz-transition: height .6s ease, padding .6s ease;
	-webkit-transition: height .6s ease, padding .6s ease;
	transition: height .6s ease, padding .6s ease;
	box-shadow: inset 0 0 .2em #000,
		0 0.1em 0.1em rgba(224,240,255,0.3),
		-0.2em 0.2em 0.3em rgba(224,240,255,0.3),
		0.2em 0.2em 0.3em rgba(224,240,255,0.4)
}
.drop.on{
	height: 20em;
	padding: .2em;
}
.drop div{
	padding: .2em .5em;
	line-height: 1.5em;
	cursor: pointer;
}
.drop div:hover{
	background: #333;
	color: #E0F0FF;
}
.drop .sel{
	text-decoration: underline;
}

/* login section */
.loading{
	display: none;
	position: fixed;
	z-index: 500;
	width: 100px;
	height: 100px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.overlay{
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 300;
	width: 100%;
	height: 100%;
	background-color: rgba(20,20,20,.7);
}
.login{
	display: flex;
	align-items: center;
	flex: 0 1 100%;
	height: 160px;
	background: #222;
	border: 1px solid black;
	border-width: 1px 0;
	box-shadow: 0 -0.3em 2em #000;
	color: #ccc;
}
#login-form, #register-form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 200px auto;
	margin: auto;
	height: 140px;
	width: 200px;
	z-index: 100;
}
.login-circle{
	position: absolute;
	width: 400px;
	height: 160px;
	overflow: hidden;
	left: 50%;
	margin-left: -200px;
}
.login-circle span{
	content: '';
	width: 250px;
	height: 250px;
	left: 50%;
	margin-left: -125px;
	margin-top: -45px;
	position: absolute;
	border: 5px solid #E0F0FF;
	box-shadow: inset 0.7em 0 0.5em #000,
		inset -0.7em 0 0.5em #000,
		0.5em 0 0.5em #000,
		-0.5em 0 0.5em #000;
	border-radius: 50%;
	z-index: 0;
}
.login input{
	padding: 5px 10px;
	margin: 2px;
	display: block;
	font-size: 14px;
	text-align: left;
	background: #222;
	border: 1px solid black;
	border-radius: 4px;
	color: #E0F0FF;
}
.login input[type="submit"]{
	position: relative;
	left: 40px;
	background: #444;
	text-align: center;
	width: 75px;
	box-shadow:inset 0 0 8px #000;
	cursor: pointer;
	margin-bottom: 5px;
}
.login input[type="submit"]:hover{
	background: #606060;
}
.login .message{
	display: block;
	text-align: center;
	font-size: .8em;
	color: #f00;
}
.login .link{
	cursor: pointer;
	font-size: 10px;
	text-decoration: underline;
	color: #999;
	text-align: right;
	display: block;
	width: 160px;
	margin: 0 auto;
}
.login .link:hover{
	color: #bbb;
}

/* main section */
section{
	margin-top: 4.5em;
}
.clear{ clear: both; }
section > ul > li{
	width: 70%;
	margin: .5em auto;
	min-width: 320px;
	max-width: 1200px;
}
.timer{
	min-height: 75px;
	background: rgb(20,20,20);
	background: rgba(0,0,0,.4);
	color: #ccc;
	border-radius: 4px;
}
.timer.true{
	box-shadow:0 0 2em rgba(224,240,255,0.5);
}
.timer.tracked {
	opacity: 0.6;
	background: #333;
}
.timer input{
	padding: 5px 10px;
	display: block;
	font-size: 16px;
	text-align: left;
	background: #222;
	border: 1px solid black;
	border-radius: 4px;
	color: #E0F0FF;
}

/* Timer Flex Layout */
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}
.dial{
	order: 1;
	box-sizing: border-box;
	border: 2px solid #E0F0FF;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	top: 12px;
	left: 4px;
	margin: 10px;
	overflow: hidden;
	cursor: pointer;
}
.start{
	order: 2;
	width: 25px;
	margin-left:80px;
}
input.digital{
	order: 3;
	font-size: 20px;
	width: 110px;
	text-align: center;
	margin: 10px;
	margin-right: 40px;
	flex: 1 auto;
}
.task{
	order: 30;
	flex: 1 100%;
	margin: 10px;
}
.tracked{
	order: 20;
	margin-left: 50px;
}
.date{
	order: 21;
	font-weight: bold;
	text-align: center;
	width: 4em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.hours{
	order: 22;
	font-weight: bold;
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.details{
	order: 99;
}
.close {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: 25px;
	width: 40px;
	height: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.close.confirm {
	width: 100px;
	text-align: right;
}
@media screen and (min-width:540px) {
	.dial{
		position: inherit;
		top: 4px;
	}
	.start{
		margin-left: 10px;
	}
	.close{
		top: 5px;
		right: 5px;
		font-size: 10px;
		width: 10px;
	}
	input.digital{
		flex: 1 auto;
		margin-right: 10px;
	}
	.task{
		flex: 4 auto;
	}
	.tracked, .date, .hours{
		flow: 1 auto;
		margin: 0 10px;
	}
}
@media screen and (min-width:1000px) {
	.dial{
		top: 0;
	}
	input.digital{
		order: 30;
		flex: 1 auto;
	}
	.task{
		order: 3;
		flex: 4 auto;
	}
}

label{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tracked, .close-label, .color-label, .date, .hours{
	color: #AAB7C0;
}

small{
	font-size: .8em;
}
.start span{
	cursor: pointer;
	display: block;
	width: 0;
	height: 0;
	border-top:  11px solid transparent;
	border-left: 20px solid #444444;
	border-bottom: 11px solid transparent;
	transition: border 0.4s ease, transform 0.4s ease;
}
.start span:hover{
	border-left-color: #777777;
}
.true .start span{
	border-top:  10px solid #444444;
	border-left: 10px solid #444444;
	border-bottom: 10px solid #444444;
	border-right: 10px solid #444444;
	transform: rotate(90deg);
}
.true .start span:hover{
	border-color: #777777;
}

.add{
}
.add span{
	cursor: pointer;
	display: block;
	font-size: 28px;
	width: 30px;
	height: 30px;
	border: 2px solid #AAB2B8;
	border-radius: 50%;
	background: #000;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.add span:hover{
	box-shadow: 0 0 0.5em #CCEEFF;
	color: #CCEEFF;
}

/* checkbox */
li input[type="checkbox"] + label {
	float: left;
	margin: 0 15px 15px;
	z-index: 2;
	width: 11px;
	height: 11px;
	border: 2px solid #CCCCCC;
	border-radius: 2px;
	cursor: pointer;
	transition: all ease-out 200ms;
	text-indent: -14px;
	line-height: 44px;
	font-size: 0.7em;
	font-weight: bold;
}
li input[type="checkbox"] + label:active {
	user-select: none;
}
li input[type="checkbox"] + label:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0.5em;
	border-bottom: 0.2em solid #777777;
	border-left: 0.2em solid #777777;
	margin-top: -3.8em;
	margin-left: 0.5em;
	transform-origin: bottom left;
	transform: rotate(-45deg);
	opacity: 0;
	transition: all ease-out 200ms;
}
li input[type="checkbox"]:checked + label {
	border: 0.2em solid #777777;
}
li input[type="checkbox"]:checked + label:after {
	opacity: 1;
	width: 1.2em;
}
li input[type="checkbox"] {
	display: none;
}
/* end checkbox */


/* drag and drop */
li.timer {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	position: relative;
}
li.droptarget {
	border: 3px dotted rgb(120,120,120);
	background: rgba(76,76,76,.5);
	background-image: none !important;
	color: transparent;
	position: relative;
	z-index: 100;
}
li.droptarget input, li.droptarget span, li.droptarget div, li.droptarget ul, li.droptarget li{
	display: none;
	z-index: 0;
	position: absolute;
}
/* end drag and drop */



/* ============================================================
	COMMON
============================================================ */
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
span.switch {
  float: left;
  padding: 0.2em 0.4em 0 0;
}
/* ============================================================
	SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
	padding: 0.1em;
	width: 1.8em;
	height: 0.8em;
	background-color: #aaaaaa;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}
input.cmn-toggle-round-flat + label:before {
	top: 0.1em;
	left: 0.1em;
	bottom: 0.1em;
	right: 0.1em;
	background-color: #000;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
	top: 0em;
	left: 0em;
	bottom: 0em;
	width: 0.8em;
	background-color: #aaaaaa;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	-webkit-transition: margin 0.4s, background 0.4s;
	-moz-transition: margin 0.4s, background 0.4s;
	-o-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
	background-color: #dddddd;
}
input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 1.1em;
	background-color: #dddddd;
}
input.cmn-toggle-round-flat:checked + label {
	box-shadow: 0 0 0.5em #CCEEFF;
}


.hidden{
	display: none;
}

.summary, .users{
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	font-size: 1em;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	width: 0.9em;
	height: 0.2em;
	border: 2px solid #AAB2B8;
	border-radius: 0.5em 0 0 0;
	background: #000;
	text-align: center;
	margin: 0;
	padding: 0 0.5em 0.5em 0.5em;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	opacity: .6;
	z-index: 10;
	-webkit-transition: width 0.4s, height 0.4s;
	-moz-transition: width 0.4s, height 0.4s;
	-o-transition: width 0.4s, height 0.4s;
	transition: width 0.4s, height 0.4s;
}
.summary:hover, .users:hover{
	box-shadow: 0 0 0.5em #CCEEFF;
	color: #CCEEFF;
}
.summary.on, .users.on{
	width: 12em;
	height: 10em;
	/*font-size: 0.9em;*/
	/*padding: 0 .5em .5em .5em;*/
	/*border-radius: 1em 0 0 0;*/
	opacity: 1;
	overflow-y: auto;
}
.summary div{
	text-align: right;
}
.users{
	left: 0;
	right: inherit;
}
.users.on{
	width: 35em;
	height: 20em;
	font-size: 0.8em;
	line-height: 1.2em;
}
.users td{
	text-align: left;
	padding: 0 0.5em;
}
